.visor{
    width: 200px;
}

.um{
    width: 35px;

}

.dois{
    width: 35px;
}

.tres{
    width: 35px;
}

.quatro{
    width: 35px;
}

.somar{
    width: 35px;
}

.cinco{
    width: 35px;
}

.seis{
    width: 35px;
}

.sete{
    width: 35px;
}

.oito{
    width: 35px;
}

.menos{
    width: 35px;
}

.nove{
    width: 35px;
}

.zero{
    width: 35px;
}

.virgula{
    width: 35px;
}

.deletar{
    width: 35px;
}

.vezes{
    width: 35px;
}

.seta{
    width: 35px;
}

.porcento{
    width: 35px;
}

.igual{
    width: 35px;
}

.apaga1{
    width: 35px;
}

.barra{
    width: 35px;
}